@import "./utils/reboot.css";
@import "./utils/fonts.css";
@import "./utils/responsive.css";

header > div:first-child {        
    background-color: grey;
}

.cercle {
    border-radius: 50%;
}

header > div:first-child, header > div:last-child {
    height: 300px;
    width: 100%;
}

header > div:last-child {
    background-image: url("../media/img/code.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    /* text-align: center; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.cercle {
    background-image: url("../media/img/chatp.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:50%;
    width:200px;
    height:200px;
    position:absolute;
    top:200px;    
}

header {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

header > div:last-child h1 {
    font-size: 50px;
    padding: 20px;
    background-color: steelblue;
    border-radius: 8px;    
}

header > div:last-child h2 {
    padding: 20px;
    background-color: #141414;    
}

section {
    display: flex;
    flex-direction:flex-start;
    justify-content: center;
    align-items: center;
}

section > div {
    height:500px;
    border: 2px solid grey;
    width: 50%;
}